/* General */
body{
    
    color: white;
    background-color: black;
}

#home {
    padding-bottom: 1em;
}

#logo{
    
    height: 5px;
    margin: 1em;
}

/* pertaining to Links */
a {
    color: chartreuse;
}
a:hover {
    color: mediumturquoise;
}

#cover {
    margin: auto;
    width: auto;
    padding-top: 10em;
    padding-left: 23em;
    opacity: 85%;
    
    
}
#homeImg {
    background-image: url(/img/Workspace.png);
    background-position:center;
    background-size: 75%;
    background-repeat: no-repeat;
    height: 600px;
    
}

h1 {
    color: chartreuse;
}

#badge {
    margin: auto;
    padding-left: 32em;
    
}

#application {
    margin: auto;
    width: 25em;
    border: 3px rgb(226, 171, 70) solid;
    padding: 15px;
    background-color: steelblue;
    
}

hr {
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 3px;
    background-color: skyblue;
}

/* pertaining to the Project Div */
ul {
    list-style: none;
}

#centennial {
    width: 300px;
    margin-left: 40em;
    border: 3px silver solid;
    padding: 2em;
    background-color: skyblue;
}

#retract {
    width: 300px;
    margin-left: 40em;
    margin-top: 10px;
    border: 3px silver solid;
    padding: 2em;
    background-color: skyblue;
}

#battleship {
    width: 300px;
    margin-left: 40em;
    margin-top: 10px;
    border: 3px silver solid;
    padding: 2em;
    background-color: skyblue;

}

/* pertaining to the Contact Div */
#nameInput {
    margin-left: 22px;
}
#subjectInput{
    margin-left: 13px;
}
#emailInput {
    margin-left: 15px;
}
#messageInput {
    margin-left: 5px;
}
Button {
    margin-top: 1em;
}
#submitButton:hover {
    background-color: springgreen;
}
#resetButton:hover {
    background-color: tomato;
}

/* pertaining to the Footer Div */
footer {
    justify-items: center;
}