body{
    color: white;
    background-color: black;
}

#logo{
    height: 5px;
}

a {
    color: chartreuse;
}

.cover {
    align-items: center;
}

h1 {
    color: chartreuse;
}

.badge {
    align-items: center;
}